
 

@model PagedList.IPagedList<HR.ViewModel.EmployeeVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "All Employees";
}
<div class="container mt-5" style="background: rgba(255, 255, 255, 0.2); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
    <div class="row">
        <div class="col-md-6">
            <!-- Add the search input form -->
            <form id="search-form" method="get" action="@Url.Action("Index")">
                <input type="text" name="search" value="@ViewBag.Search" placeholder="Search..." id="search-input" class="form-control">
            </form>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register">New Employee</a>
        </div>
    </div>

    <div class="row">
        @foreach (var employee in Model)
        {
            <div class="col-md-6">
                <div class="card mb-6" style="background: rgba(255, 255, 255, 0.2); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
                    <div class="card-body">
                        <img class="card-img-top" src="/Images/2257667a-6e20-4b6a-a2d8-a827450286fd-1696664472867.jpeg" width="100" height="100">
                        <h5 class="card-title">Name: @employee.UserName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Email: @employee.Email</h6>
                        <p class="card-text">@employee.JobTitle</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-7">
                                <div class="btn-group" role="group">
                                    <!-- Action buttons for each employee -->
                                    <a asp-area="HR" asp-controller="Employee" class="btn btn-primary" asp-action="Details" asp-route-id="@employee.Id">Details of Employee</a>
                                    <a asp-area="HR" asp-controller="Employee" class="btn btn-primary" asp-action="Save" asp-route-id="@employee.Id">Edit Employee</a>
                                    <a asp-area="HR" asp-controller="Employee" class="btn btn-primary" asp-action="Delete" asp-route-id="@employee.Id">Delete Employee</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-7">
                                <div class="btn-group" role="group">
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="SalaryTransaction" asp-action="EditGetbyemployeeonetrataction" asp-route-EmplyeeName="@employee.UserName" asp-route-EmployeeId="@employee.Id" data-action="edit">Edit Salary</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="SalaryTransaction" asp-action="Addtrantionforemplyee" asp-route-EmplyeeName="@employee.UserName" asp-route-EmployeeId="@employee.Id" data-action="edit">Add Salary</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="SalaryTransaction" asp-action="GEtAllemplyStranstion" asp-route-EmplyeeName="@employee.UserName" asp-route-id="@employee.Id" data-action="edit">Get Transaction</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-7">
                                <div class="btn-group" role="group">
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="Vaction" asp-action="addvaction" asp-route-EmplyeeName="@employee.UserName" asp-route-id="@employee.Id" data-action="edit">New Vacation</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="Vaction" asp-action="Editebyempid" asp-route-EmplyeeName="@employee.UserName" asp-route-EmployeeId="@employee.Id" data-action="edit">Edit Vacation</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="EmployeeWorkScheduleCurentWeekDay" asp-action="Save" asp-route-EmplyeeName="@employee.UserName" asp-route-employeeid="@employee.Id" data-action="edit">Add Shifts</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="EmployeeWorkScheduleCurentWeekDay" asp-action="Gtbyemployeeid" asp-route-employeeid="@employee.Id" data-action="edit">Show All Shifts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-7">
                                <div class="btn-group" role="group">
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="EmployeeDevice" asp-action="GetAllAssinedDevice" asp-route-EmplyeeName="@employee.UserName" asp-route-employeeid="@employee.Id" data-action="edit">Show All Devices</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="EmployeeDevice" asp-action="Save" asp-route-EmplyeeName="@employee.UserName" asp-route-employeeid="@employee.Id" data-action="edit">Assign Devices</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="EmployeeTrining" asp-action="GetAssinedTring" asp-route-EmplyeeName="@employee.UserName" asp-route-employeeid="@employee.Id" data-action="edit">Show All Training</a>
                                    <a asp-area="HR" class="btn btn-primary" asp-controller="EmployeeTrining" asp-action="Save" asp-route-EmplyeeName="@employee.UserName" asp-route-employeeid="@employee.Id" data-action="edit">Assign Training</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


                <partial name="_PaginationPartial" model="Model" />
                @section Scripts {
    <script src="~/js/employeeindex.js"></script>
                }
              